.contact {
    background-color: #2879AE;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: center;

    .wrapper {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
            text-transform: capitalize;
        }

        input {
            padding: 10px;
            border: none; 
        }


    }
}